body {
    background-color: #eee;
}
.card-title-1 {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
    color: purple;
}
.card-title-2 {
    font-weight: bold;
}
.card-url, .card-title-2 {
    margin: 0;
    font-size: 0.8em;
}
.card-title-2, .card-url, .card-text {
    color: #555;
}
.card-text {
    margin-top: 10px;
    font-size: 0.7em;
}
.card-block {
    padding: 10px;
}
.card-img-wrap {
    padding: 7px 7px 0 7px;
    position: relative;
}
.sale {
    margin-right: 8px;
    margin-bottom: 1px;
    font-size: 0.7em;
    padding: 0.1rem 0.4rem;
    background-color: #662192;
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 0;
}

img.card-img-top {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card {
    border-radius: 0;
    box-shadow: 0 0 1px #999;
}
.card-deck {
    border-spacing: 1rem 0;
}

.welcome {
    padding-top: 50px;
}
.welcome p {
    font-size: .9em;
}
.welcome h2 {
    letter-spacing: 0.15em;
}
.topline {
    letter-spacing: 0.2em;
}
.welcome h2, .topline, a {
    color: #662192;
}
.footer p {
    font-size: .6em;
}
.topline {
    font-size: .8em;
}
.footerbox {
    background-color: #aaa;
}

.footerbox, .cards {
    padding: 1rem 5rem 1rem 5rem;
}
.toplinebox {
    padding-top: 0.4rem;
}
.topline {
    padding-left: 0.3rem;
}

#mainbg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    min-width: 1000px;
}

a, .cards a:hover, .toplinebox a:hover {
    text-decoration: none;
}

.card a {
    color: black;
}

.cards {
    max-width: 1200px;
}
